@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap");

/* font-family: "Young Serif", serif;
font-family: "Outfit", sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

body {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--stone-100);
  font-family: "Outfit", sans-serif;
}

.container {
  max-width: 800px;
  height: fit-content;
  background-color: var(--white);
  border-radius: 1rem;
  padding: 2rem;
  margin: 3rem auto;
}
p,
li,
.name {
  font-size: 1rem;
  color: var(--stone-600);
}
span {
  font-weight: bold;
  color: var(--stone-900);
}
.image {
  background: url(./assets/images/image-omelette.jpeg);
  width: 100%;
  /* height: 350px; */
    height: 20rem;
  background-size: cover;
  border-radius: 0.7rem;
}
h1,
h2 {
  font-family: "Young Serif", serif;
}

h1{
    font-size: 2.5rem;
    color: var(--stone-900);
    margin: 1rem 0;
}
header p{
    margin-bottom: 2rem;
}
.preparation-time{
    background-color: var(--rose-50);
    border-radius: 0.7rem;
    padding: 1.5rem;
}
.preparation-time h3{
    color: var(--rose-800);
}
.preparation-time ul{
    padding: 1rem 0 0 1.5rem;
}
.preparation-time span{
    padding-left: 1rem;
}
.preparation-time li{
    margin-bottom: 0.7rem;
}


.ingredients h2,.instructions h2 ,.nutrition h2{
    color: var(--brown-800);
}
.ingredients h2,.instructions h2{
    margin: 2rem 0 1rem 0;
}
.ingredients ul{
    padding: 0 0 1rem 1.5rem;
}
.ingredients li{
    padding:0 0 0.7rem  1rem ;
}


.instructions ol{
    padding: 0.5rem 0 1rem 1.5rem;
}

.instructions li{
    padding:0 0 0.7rem  1rem ;
}

li::marker {
    color:var(--brown-800);
   font-weight: bolder;
}


.divider{
    border: 0;
    height: 1px;
    background-color: var(--stone-150);
    margin: 0.3rem 0 1.5rem;
}

.nutrition p{
    margin: 1.5rem 0;
}

.list-items p{
    display: inline-block;
    margin-left: 3rem;
}

.level{
    color: var(--brown-800);
    font-weight: bolder;
}

.content{
    width: 40%;
}





